{
	padding:0;
	margin:0;
}
body{
	height:100%;
	margin:0;
	font-size:20px;
	font-family:"sans-serif";
	font-weight:400;
	/*line-height:1.8em;*/
	color:black;
}

nav{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100px;
	box-sizing: border-box;
	transition:1.0s;
}

nav.color{
	background:rgba(63, 63, 63, .8);
	height:70px;
}
nav.color ul li a{
	color:white;
	font-size:19px;
}
nav ul{
	float:right;
	display:flex;
}
nav ul li a{
	line-height:40px;
	padding:10px 30px;
	text-decoration:none;
	text-transform:uppercase;
	font-size: 17px;
	color: black;
}


nav ul li a:hover{
	color:black;
	background:#E3DADA;
	opacity:0.8;
}

nav ul li{
	list-style:none;
}
nav.current{
	color:black;
	background:#E3DADA;

}

.responsive-bar{
	display: none;
}

@media (max-width:768px)
{
	.responsive-bar{
		display: block;
		width: 1000px;
		height:60px;
		background: black;
		position: fixed;
		top: 0;
		left: 0;
		padding: 5px 20px;
		box-sizing: border-box;
		}

}
.responsive-bar .menu {
	float: right;
	color: white;
}


.img1, .img2, .img3, .img4, .img5, .img6{
	position:relative;
	opacity:0.80;
/* 	background-size:cover; */
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;

}

.section{
	text-align:center;
	padding:50px 80px;
	background-color:#3F3F3F;
	color:white;
}

.section2 {
	text-align: left;
}

.section3 {
	text-align: right;
}
.section4 {
	text-align: left;
}
.spacing{
	margin-top: -20px;
}

.imgtext{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	color:black;
	font-size:40px;
	text-transform:uppercase;

}
.imgtext .border{
	background-color:#E3DADA;
	opacity:0.90;
	padding:20px;
}

.img1{
	background-image:url("https://www.manhattan-institute.org/sites/default/files/ThinkstockPhotos-494194808.jpg");
	min-height:650px;
	}

.img2{
	background-image:url("https://ak5.picdn.net/shutterstock/videos/9065105/thumb/1.jpg");
	min-height:500px;
	}

.img3{
	background-image:url("http://images.unsplash.com/photo-1532469342119-c1ac6eb66912?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9&s=ce6631ca6a59f6acc219b8fa255cea55");
	min-height:450px;
	}

.img4{
	background-image:url("https://ephemeralnewyork.files.wordpress.com/2011/03/pinkhousesbleeckerstreet.jpg");
	min-height:450px;
}

.img5{
	background-image:url("https://img00.deviantart.net/d35a/i/2016/342/f/9/7_p_m__by_aenami-dar0gav.png");
	min-height:450px;
}

.img6{
	background-image:url("https://www.manhattan-institute.org/sites/default/files/ThinkstockPhotos-494194808.jpg");
	min-height:500px;
	}



.container{
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:100%;
}

.container span{
	color:black;
	text-transform:uppercase;
	display:block;
}

.text{
	font-size: 80px;
	letter-spacing:15px;
	margin-bottom:30px;
	position:relative;
	animation: text 2s 1 ;
}

.text1{
	font-size:20px;
}

@keyframes text {
	0%{
		color:Black;
		margin-bottom: -40px;
	}

}
